@font-face {
  font-weight: regular;
  font-family: "Titillium";

  src: url("../fonts/titilliumweb/titilliumweb.woff2") format("woff2"),
    url("../fonts/titilliumweb/titilliumweb.woff") format("woff"),
    url("../fonts/titilliumweb/titilliumweb.ttf") format("ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Titillium";

  src: url("../fonts/titilliumweb/titilliumwebbold.woff2") format("woff2"),
    url("../fonts/titilliumweb/titilliumwebbold.woff") format("woff"),
    url("../fonts/titilliumweb/titilliumwebbold.ttf") format("ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Titillium";

  src: url("../fonts/titilliumweb/titilliumwebsemibold.woff2") format("woff2"),
    url("../fonts/titilliumweb/titilliumwebsemibold.woff") format("woff"),
    url("../fonts/titilliumweb/titilliumwebsemibold.ttf") format("ttf");
}

@font-face {
  font-style: italic;
  font-weight: regular;
  font-family: "Malaga";

  src: url("../fonts/malaga/MalagaOTRegItalic.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.link {
  font-weight: regular;
  font-family: "Titillium", sans-serif;
  color: #454545;
  text-decoration: none;
}

.link:hover {
  color: #5b4295;

  transition: color, 0.15s ease;
}

.button {
  padding: 10px 20px;

  font-weight: 700;
  font-size: 16px;
  font-family: "Titillium", sans-serif;
  color: #ffffff;

  background-image: linear-gradient(150deg, #582c7e 20%, #6378cf 85%);
  border: none;
  border-radius: 25px;
  box-shadow: 0 8px 20px 0 rgba(102, 145, 233, 0.7);
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(150deg, #582c7e 0%, #6378cf 100%);
}

.button_large {
  width: 250px;
  padding: 15px 0;
}

.button_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  border-radius: 45px;
}

.button__icon {
  width: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-top: 72px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  font-family: "Titillium", sans-serif;
  color: #858688;
}

.logo__decoration {
  color: #5b4295;
}

.main-menu {
  float: right;
  margin-right: 75px;
  margin-left: auto;

  font-size: 16px;
}

.main-menu__item {
  display: inline;
  margin-right: 20px;
}

.main-menu__item:last-child {
  margin: 0;
}

.button-log-in {
  margin-right: 25px;

  font-weight: 700;
  font-size: 16px;
  font-family: "Titillium", sans-serif;
  color: #454545;

  background: none;
  border: none;
  cursor: pointer;
}

.button-log-in__icon {
  width: 17px;
  margin-right: 7px;
  margin-bottom: 3px;

  vertical-align: middle;
}

.lang-select {
  margin-top: 11px;
}

.lang-select__item {
  display: inline-block;

  font-size: 14px;
  color: #959595;
}

.lang-select__item_selected {
  font-weight: 700;
  text-decoration: underline;
}

.lang-select__item::after {
  content: "/";

  display: inline-block;
  margin: 0 10px;
}

.lang-select__item:last-child::after {
  content: none;
}

.header__content {
  min-height: 330px;
  padding: 165px 0;

  text-align: center;

  background: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 75px;
  background-size: cover;
}

.h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 55px;
  font-family: "Titillium", sans-serif;
  color: #454545;
}

.h1__decoration {
  font-weight: regular;
  font-size: 36px;
}

.h1__colored {
  color: #fc5a5d;
}

.header__button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.button-list__item {
  margin: 0 10px;
}

.socials-list {
  position: absolute;
  top: 35%;
  right: 80px;

  list-style: none;
  line-height: 0;
}

.socials-list__item {
  margin-bottom: 15px;

  opacity: 0.5;

  transition: opacity ease 0.18s;
}

.socials-list__item:hover {
  opacity: 0.8;

  transition: opacity ease 0.18s;
}

.socials-list__icon {
  width: 24px;
}

.features {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.feature-item:first-child {
  margin-left: 100px;
}

.feature-item {
  position: relative;

  display: inline-block;
  width: 360px;
  margin: 0 40px;
}

.feature-item__icon {
  display: inline-block;
}

.feature-item__heading {
  position: absolute;
  top: 10px;

  display: inline-block;
  margin-left: 10px;

  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  font-family: "Titillium", sans-serif;
  color: #555555;
}

.feature-item__second-heading {
  font-size: 18px;
  color: #959393;
}

.feature-item__info {
  margin-top: 20px;
  margin-left: 10px;

  font-weight: 400;
  font-size: 14px;
  font-family: "Titillium", sans-serif;
  color: #959393;
}
