@font-face {
  font-weight: 400;
  font-family: "Titillium";

  src: url("../fonts/titilliumweb/titilliumweb.woff2") format("woff2"),
    url("../fonts/titilliumweb/titilliumweb.woff") format("woff"),
    url("../fonts/titilliumweb/titilliumweb.ttf") format("ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Titillium";

  src: url("../fonts/titilliumweb/titilliumwebbold.woff2") format("woff2"),
    url("../fonts/titilliumweb/titilliumwebbold.woff") format("woff"),
    url("../fonts/titilliumweb/titilliumwebbold.ttf") format("ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Titillium";

  src: url("../fonts/titilliumweb/titilliumwebsemibold.woff2") format("woff2"),
    url("../fonts/titilliumweb/titilliumwebsemibold.woff") format("woff"),
    url("../fonts/titilliumweb/titilliumwebsemibold.ttf") format("ttf");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Malaga";

  src: url("../fonts/malaga/MalagaOTRegItalic.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.container {
  width: 73vw;
  margin: 0 auto;
}

.link {
  font-weight: 400;
  font-family: "Titillium", sans-serif;
  color: #454545;
  text-decoration: none;
}

.link:hover {
  color: #5b4295;

  transition: color, 0.15s ease;
}

.button {
  padding: 10px 20px;

  font-weight: 700;
  font-size: 16px;
  font-family: "Titillium", sans-serif;
  color: #ffffff;

  background-image: linear-gradient(150deg, #582c7e 20%, #6378cf 85%);
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 20px 0 rgba(102, 145, 233, 0.7);
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(150deg, #582c7e 0%, #6378cf 100%);
}

.button_large {
  width: 250px;
  padding: 15px 0;
}

.button_medium {
  width: 170px;
  padding: 15px 0;
}

.button_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  border-radius: 45px;
}

.button_blue {
  background-image: linear-gradient(150deg, #35bce0 20%, #5e7bea 85%);
  box-shadow: 0 8px 20px 0 rgba(85, 161, 170, 1);
}

.button_blue:hover {
  background-image: linear-gradient(150deg, #35bce0 0%, #5e7bea 100%);
}

.button_empty {
  padding: 15px 30px;

  font-weight: 400;
  font-size: 16px;
  color: #676767;
  letter-spacing: 0.01em;

  background: none;
  border: solid 1px #b9b9b9;
  box-shadow: none;
}

.button_empty:hover {
  color: #1f1f1f;

  background: none;
}

.button__icon {
  width: 20px;

  vertical-align: middle;
}

.button__text-icon {
  width: 20px;
  margin-right: 0.3vw;

  vertical-align: middle;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-top: 72px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  font-family: "Titillium", sans-serif;
  color: #858688;
}

.logo__decoration {
  color: #5b4295;
}

.main-menu {
  float: right;
  margin-right: 75px;
  margin-left: auto;

  font-size: 16px;
}

.main-menu__item {
  display: inline;
  margin-right: 20px;
}

.main-menu__item:last-child {
  margin: 0;
}

.button-log-in {
  margin-right: 25px;

  font-weight: 700;
  font-size: 16px;
  font-family: "Titillium", sans-serif;
  color: #454545;

  background: none;
  border: none;
  cursor: pointer;
}

.button-log-in__icon {
  width: 17px;
  margin-right: 7px;
  margin-bottom: 3px;

  vertical-align: middle;
}

.lang-select {
  margin-top: 11px;
}

.bread-crubs__item {
  display: inline-block;

  font-size: 14px;
  color: #959595;
}

.bread-crubs__item_selected {
  font-weight: 700;
  text-decoration: underline;
}

.bread-crubs__item::after {
  content: "/";

  display: inline-block;
  margin: 0 10px;
}

.bread-crubs__item:last-child::after {
  content: none;
}

.header__content {
  min-height: 330px;
  padding: 17vh 0;

  text-align: center;

  background: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 7vh;
  background-size: cover;
}

.h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 55px;
  font-family: "Titillium", sans-serif;
  color: #454545;
}

.h1__decoration {
  font-weight: 400;
  font-size: 36px;
}

.h1__colored {
  color: #fc5a5d;
}

.header__button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

.button-list__item {
  margin: 0 0.8vw;
}

.socials-list {
  position: absolute;
  top: 33vh;
  right: 80px;

  list-style: none;
  line-height: 0;
}

.socials-list__item {
  margin-bottom: 15px;

  opacity: 0.5;

  transition: opacity ease 0.18s;
}

.socials-list__item:hover {
  opacity: 0.8;

  transition: opacity ease 0.18s;
}

.socials-list__icon {
  width: 24px;
}

.features {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 100px 0;
}

.feature-item:first-child {
  margin-left: 100px;
}

.feature-item {
  position: relative;

  display: inline-block;
  width: 360px;
  margin: 0 40px;
}

.feature-item__icon {
  display: inline-block;
}

.feature-item__heading {
  position: absolute;
  top: 10px;

  display: inline-block;
  margin-left: 10px;

  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  font-family: "Titillium", sans-serif;
  color: #555555;
}

.feature-item__second-heading {
  font-size: 18px;
  color: #959393;
}

.feature-item__info {
  margin-top: 20px;
  margin-left: 10px;

  font-weight: 400;
  font-size: 14px;
  font-family: "Titillium", sans-serif;
  color: #959393;
}

.feature-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -120px;
  left: -40px;

  display: block;
  width: 1px;
  height: 200px;

  background-color: #b9b9b9;
}

.feature-item:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20vw;

  display: block;
  width: 20vw;
  height: 1px;

  background-color: #b9b9b9;
}

.features__heading {
  margin-top: 12vh;
  margin-right: 12vw;
}

.h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  font-family: "Titillium", sans-serif;
  text-align: right;
  color: #535353;
  letter-spacing: 0.01em;
}

.h2__second-line {
  display: inline-block;
  max-width: 650px;

  font-size: 24px;
  line-height: 20px;
  color: #959393;
}

.h2__colored {
  color: #fc5a5d;
}

.features__learn-more {
  position: absolute;
  bottom: 15px;

  margin-left: 245px;
}

.features__learn-more::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -70vw;

  display: block;
  width: 70vw;
  height: 1px;

  background-color: #b9b9bb;
}

.features__learn-more::after {
  content: "";
  position: absolute;
  top: -450px;
  left: 50%;

  display: block;
  width: 1px;
  height: 450px;

  background-color: #b9b9bb;
}

.features__learn-more::after:hover {
  pointer-events: none;
}

.image-list {
  vertical-align: middle;
}

.image-list__item {
  margin-right: 50px;

  vertical-align: middle;
}

.image-list__item:last-child {
  margin: 0;
}

.reviews__logo-list {
  margin-top: 4vh;
  margin-left: 5vw;
}

.reviews-slider {
  display: flex;
  width: 570px;
  margin-top: 70px;
  margin-left: 22vw;
}

.slider__control {
  width: 10px;
  height: 10px;
  margin: auto;
  margin-bottom: 10px;

  background-color: #b7b7b7;
  border-radius: 10px;
  cursor: pointer;
}

.control_active {
  width: 15px;
  height: 15px;

  background-color: #101010;
}

.slider__data {
  margin-left: 20px;

  font-size: 24px;
  line-height: 30px;
  font-family: "Malaga", sans-serif;
  color: #101010;
  letter-spacing: 0.01em;
}

.reviews-slider__author {
  font-size: 16px;
  color: #727272;
}

.bg-triangle {
  position: absolute;
  top: -24vh;

  width: 100vw;
  height: 24vh;

  background: linear-gradient(to bottom, rgba(238, 238, 238) 1%, rgba(248, 248, 248) 99%);

  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.any-device-section {
  position: relative;
  z-index: 100;

  margin-top: 17vh;

  background: linear-gradient(to bottom, rgba(248, 248, 248) 1%, rgba(245, 245, 245, 0) 99%);
}

.any-device-section__data {
  max-width: 27vw;
  margin-left: 33vw;

  text-align: right;
  color: #535353;

  transform: translateY(-6vh);
}

.any-device-section__text {
  margin-bottom: 3vh;

  font-size: 16px;
  font-family: "Titillium", sans-serif;
  color: #959393;
  letter-spacing: 0.02em;
}

.h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Titillium", sans-serif;
  color: #535353;
  letter-spacing: 0.01em;
}

.h3__second-line {
  display: block;
  margin-top: -20px;

  font-weight: 400;
  font-size: 29px;
  font-family: "Titillium", sans-serif;
  color: #7c7c7c;
  letter-spacing: 0.01em;
}

.any-device-section__image {
  position: absolute;
  right: 17vw;
  bottom: -12vh;
}

.section-donate {
  position: relative;
  z-index: 0;

  padding: 16vh 0 9vh 0;

  text-align: center;
}

.section-donate::before {
  content: "";
  position: absolute;
  top: 10vh;
  right: 0;

  display: block;
  width: 75vw;
  height: 1px;

  background-color: #b9b9b9;
}

.section-donate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 75vw;
  height: 1px;

  background-color: #b9b9b9;
}

.section-donate__button-list {
  margin-top: 3vh;
}

.section-partners {
  position: relative;

  text-align: right;
}

.section-partners::after {
  content: "";
  position: absolute;
  top: -2vh;
  left: calc(75vw - 1px);

  display: block;
  width: 1px;
  height: 45vh;

  background-color: #b9b9b9;
}

.section-partners__subtitle {
  margin-top: 2vh;
  margin-right: 26vw;

  font-weight: 400;
  font-size: 14px;
  font-family: "Titillum", sans-serif;
  color: #7a7a7a;
  letter-spacing: 0.01em;
}

.section-partners__logo-list {
  margin-top: 2vh;
  margin-right: 26vw;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 74vw;
  max-width: 60vw;
  margin-top: 17vh;
  margin-right: 26vw;
}

.footer__contacts {
  padding: 0 1vw;

  list-style: none;
  font-size: 14px;
  font-family: "Titillium", sans-serif;
  color: #5c5c5c;

  border-left: 1px solid #b9b9b9;
}

.contacts__item:last-child {
  margin-top: 3vh;
}

.h5 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Titillium", sans-serif;
  color: #5c5c5c;
}

.footer__list:nth-child(2) {
  float: right;
  margin-left: auto;
}

.footer__list:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1vw;

  display: block;
  width: 1px;
  height: 35vh;

  background-color: #b9b9b9;
}

.footer__list {
  position: relative;

  margin-right: 5vw;

  font-size: 14px;
  text-align: right;
}

.footer__list:nth-child(4) {
  margin-right: 0;
}

.link-list {
  margin-top: 2vh;

  list-style: none;
}

.link-list__item {
  margin-bottom: 0.3vh;
}

.link-list__item::after {
  content: "";

  display: inline-block;
  width: 4px;
  height: 4px;
  margin-bottom: 2px;
  margin-left: 0.5vw;

  background-color: #5c5c5c;
  border-radius: 3px;
}

.bottom-line {
  width: 100%;
  margin-top: 8vh;
}

.copyright {
  margin-top: 1vh;

  font-weight: 400;
  font-size: 12px;
  font-family: "Titillium", sans-serif;
  color: #5c5c5c;
}
